.img{
    height: 400px;
    width: 700px;
    float: right;
}
#head{
    font-size: 100px;
    font-style: italic;
    color: rgb(209, 55, 236);
}
.para{
    font-size: 50px;
    font-style: italic;
    color: darkslategrey;
}
/*.course {
    @include grid(31rem);

    .box{
    background: gray;
    border-radius: 1rem;
    text-align: center;
    padding: 2rem;
    }
}*/
.course{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    gap: 50px;
}
.box{
    text-align: center;
    box-shadow: 0 5px 10 px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 20px;
    font-style: italic;
}
a{
    background: rgb(209, 55, 236);
    color: azure;
    height: 50px;
    width: 50px;
}
/* Basic styles for the layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 50%;
    padding: 8px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    background-color: rgb(59, 189, 240);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1em;
    width: 50%;
}

button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #fff;
    color: rgb(59, 189, 240);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
   
}
#add{
    color: rgb(214, 50, 50);
    font-size: 60px;
    font-style: italic;
}
/*.....*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}



form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    border: none;
   
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4cae4c;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #e9ecef;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
}
